header{
background-color: blueviolet;
display: flex;
justify-content: space-between;
position: fixed;
right: 0;
left: 0;
top: 0;
}

ul{
list-style: none;
}

a{
text-decoration: none;
}

li{
display: inline;
margin-left: 30px;

}

body{
    margin:0px;
    background-image: url(../images/rize.jpg);
}

section{
    background-color: aquamarine;
    padding: 30px;
    margin: 100px 100px 30px;
}

article{
    border-bottom: 2px solid black;
    margin-top: 10px;
}
